<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Asignatura</th>
      <th>Ciudad</th>
      <th>Descripción</th>
      <th>Usuario</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.subject %></td>
        <td><%= post.city %></td>
        <td><%= post.description %></td>
        <td><%= post.user.name %></td>
        <td><%= link_to 'Ver', post %></td>
        <% if current_user.id == post.user.id %>
          <td><%= link_to 'Editar', edit_post_path(post) %></td>
          <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>   
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Publicar clase', new_post_path %>
