<p>
  <strong>Asignatura:</strong>
  <%= @post.subject %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @post.city %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Publicado por:</strong>
  <%= @post.users_id %>
</p>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Atrás', posts_path %>
